.container-left .left-aligned-image {
  width: 12vw;
  height: 10vw;
  margin: 0 20px 10px 0;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .container-left, .container-right {
    width: 90vw;
  }
  .container h2 {
    font-size: large;
  }
  .container-link > div {
    display: none;
  }
  .container-left .left-aligned-image {
    width: 100%;
    height: 50%;
  }
  .container-right {
    margin-top: 1rem;
  }
}