.twelfth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  row-gap: 0.25rem;
}

.container .title {
  font-size: large;
  font-weight: bolder;
  margin: 1rem 1rem 2rem 0;
}

.twelfth .col {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
}
.twelfth .col:first-child .row {
  font-style: italic;
  background-color: #fee;
  border: 1px solid #ccc;
}

.twelfth .row {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
  background-color: #eee;
  border-radius: 7px;
}
.twelfth .row:first-child {
  font-style: italic;
  background-color: #fee;
  border: 1px solid #ccc;
}

@media (max-width: 1000px) {
  .twelfth .col {
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 0.25rem;
  }
  .container .title {
    font-size: medium;
    font-weight: bolder;
    margin: 1rem 1rem 2rem 0;
  }
}