.container .title {
  font-size: large;
  font-weight: bolder;
  margin: 1rem 1rem 2rem 0;
}

.twelfth {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.twelfth div {
  width: 100%;;
}

.twelfth .col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3rem;
}
.twelfth .col .row:nth-child(2) {
  font-style: italic;
}

.twelfth .row {
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.twelfth .row:first-child .cell {
  background-color: #eef;
}

.twelfth .cell {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: smaller;
  border-radius: 7px;
  margin: 0.25rem;
  box-sizing: border-box;
}

.twelfth select {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 7px;
  font-size: smaller;
  box-sizing: border-box;
}

.twelfth .dropdown-time {
  width: 24.5%;
}

.table-actions {
  width: 99%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.table-actions button {
  outline: none;
  padding: 0.5rem 1rem;
  font-size: smaller;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin: 0 0.25rem;
}

.new-table {
  width: 100%;
}

.new-table-time {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-table-time select {
  width: 24.5%;
}

.new-table-subjects {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-table-subjects select {
  width: 15%;
}

@media (max-width: 1000px) {
  .container .title {
    font-size: medium;
    font-weight: bolder;
    margin: 1rem 1rem 2rem 0;
  }
  .twelfth .cell {
    margin: 0.1rem;
  }
  .table-actions button {
    margin: 0 0.1rem;
  }
}