.write-us, .feedback {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  box-sizing: border-box;
}

.form-name, .form-email, .form-message, .form-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.form-message {
  align-items: flex-start;
}

.form-actions {
  justify-content: flex-end;
  column-gap: 1vw;
}

.form-actions button {
  outline: none;
  padding: 0.5rem 1rem;
  background-color: #eee;
  border: 1px solid #e9ecef;
  border-radius: 7px;
  cursor: pointer;
}
.form-actions button:hover {
  color: red;
}

input {
  outline: none;
  width: 80%;
  padding: 0.5rem;
  border-radius: 7px;
  background-color: white;
  border: 1px solid #e9ecef;
}

textarea {
  outline: none;
  width: 80%;
  height: 10vh;
  padding: 0.5rem;
  border-radius: 7px;
  background-color: white;
  border: 1px solid #e9ecef;
  resize: none;
}

@media (max-width: 1000px) {
  input {
    width: 70%;
  }  
  textarea {
    width: 70%;
  }
}