.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

.main .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  padding: 1rem 0;
  border-bottom: 1px solid #e9ecef;
}

.main .head .head-left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.main .head .head-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: small;
  row-gap: 10px;
}

.main .head .head-right .head-right-top {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 0;
  font-weight: bolder;
  font-size: large;
  column-gap: 1rem;
}
.main .head .head-right .head-right-bottom {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}

.main .head img {
  width: 12vw;
  height: 5vw;
}

.main .head .page {
  cursor: pointer;
  padding: 0.75vw 0.50vw;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  border: 1px solid #e9ecef;
}

.main .head .page:hover {
  color: red;
}

.main .head .page > img {
  width: 20px;
  height: 20px;
}

.main .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  /* height: 70vh; */
  padding: 1rem;
}

.main .content .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  font-size: small;
}

@media (max-width: 1000px) {
  .main, .main .head, .main .content {
    width: 90vw;
    box-sizing: border-box;
  }
  .main .head .head-left {
    display: none;
  }
  .main .head .main-right {
    width: 100%;
  }
  .main .head .head-right .head-right-top {
    flex-direction: column;
    align-items: center;
    width: 90vw;
  }
  .main .head .head-right .head-right-bottom {
    justify-content: space-between;
    width: 90vw;
  }
  .main .head .page {
    padding: 2vw;
  }
  .main .head .page > img {
    width: 20px;
    height: 20px;
  }
  .main .head .page > div {
    display: none;
  }
}