.home {
  font-size: small;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.home .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
}

.home-link {
  display: flex;
  justify-content: center;
  column-gap: 0.5vw;
  align-items: center;
}

.home .slider {
  position: relative;
  display: none;
  margin: 1rem 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 10px;
  border: 1px solid #e9ecef;
}

.home .slider .slider-title {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-weight: bolder;
}

.home .slider .slider-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.home .home-left {
  width: 70%;
  margin-right: 2rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home .home-left .left-aligned-image {
  width: 20vw;
  height: 15vw;
  margin: 0 20px 20px 0;
  border-radius: 10px;
  float: left;
}

.home .home-left .right-aligned-image {
  width: 18vw;
  height: 10vw;
  margin: 0 0 20px 20px;
  border-radius: 10px;
  float: right;
}

.home .home-left-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .home-left-top > div {
  border-radius: 10px;
  width: 30%;
  height: 50px;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.home .home-left-top > div:hover {
  color: red;
}

.home .home-right {
  width: 30%;
  /* margin-left: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home .home-right label {
  border-radius: 10px;
  /* background-color: #f8f9fa;
  border: 1px solid #e9ecef; */
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  font-size: large;
  font-weight: bolder;
}

@media (max-width: 1000px) {
  .home {
    flex-direction: column;
  }
  .home .home-left, .home .home-right {
    width: 100%;
  }
  .home .home-link > div {
    display: none;
  }
  .home .home-left .left-aligned-image {
    width: 100%;
    height: 50%;
  }
}