.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 60vw;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 2rem;
}

.header .contacts, .header .links {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  cursor: pointer;
  font-size: smaller;
}

.header img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.header .contacts .phone, .header .contacts .email {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.links-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .header {
    width: 90vw;
    flex-direction: column;
    row-gap: 1rem;
  }

  .header .contacts, .header .links {
    justify-content: space-between;
    width: 100%;
  }
}