.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 60vw;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  /* position: sticky;
  top: 0;
  z-index: 100; */
}

.header .contacts, .header .signin, .header .links {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  cursor: pointer;
  font-size: smaller;
}

.header img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.header .contacts .phone, .header .contacts .email {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.header .signin {
  padding: 0.5rem 1rem;
  background-color: red;
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

.links-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header select {
  outline: none;
  padding: 0.5rem;
  border-radius: 7px;
  border: 1px solid lightgrey;
  background-color: transparent;
}

@media (max-width: 1000px) {
  .header {
    width: 90vw;
    flex-direction: column;
    row-gap: 1rem;
  }
  .header .contacts, .header .links {
    justify-content: space-between;
    width: 100%;
  }
}