.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 60vw;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  font-size: small;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.useful-navigations {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.useful-navigations > div {
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  width: 25%;
  height: 300px;
}

.useful-navigations .address,
.useful-navigations .footer-navigations,
.useful-navigations .posts,
.useful-navigations .timings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}

.useful-navigations > div > h4 {
  text-align: left;
  margin-top: 0;
}

.useful-navigations label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: x-large;
  opacity: 0.25;
}

.useful-navigations > div > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  overflow: hidden;
  row-gap: 0.5rem;
}
.useful-navigations .text {
  padding: 1rem;
}
.useful-navigations .text .link {
  padding: 0.25rem 1rem;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: smaller;
}
.useful-navigations .text .link:hover {
  color: red;
}

.posts-scroll-view {
  position: relative;
  width: 100%;
  height: 100%;
}

.useful-navigations .footer-scroll {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* animation: scroll 20s linear infinite normal; */
}

.footer-scroll > div {
  width: 80%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #ccc;
  background-color: #fee;
  border-radius: 10px;
  cursor: pointer;
}

.footer-scroll > div > div {
  width: 100%;
  margin-bottom: 0.5rem;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  width: 99%;
}

.copyright .message, .copyright .visitor {
  padding: 0.25rem 1rem;
  border-radius: 7px;
  background-color: #fee;
  border: 1px solid #ccc;
  font-size: smaller;
  text-shadow: 0 0 1px grey;
}

@keyframes scroll {
  from { top: 100%; }
  to { top: -100%; }
}

@media (max-width: 1000px) {
  .footer {
    margin-top: 0.5rem;
    width: 90vw;
    flex-direction: column;
    row-gap: 1rem;
  }
  .useful-navigations {
    flex-direction: column;
    gap: 1rem;
  }
  .useful-navigations > div {
    width: 100%;
    height: 200px;
  }
  .copyright {
    flex-direction: column;
    row-gap: 1rem;
  }
}