.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 60vw;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  font-size: small;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.useful-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.useful-links > div {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 1rem 0.5rem;
  width: 25%;
  height: 200px;
}

.useful-links h4 {
  text-align: left;
  padding: 1rem 0.5rem 0 1rem;
  margin-top: 0;
  text-decoration: underline;
}

.useful-links .address,
.useful-links .footer-links,
.footer-links .posts,
.footer-links .timings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.useful-links div {
  padding: 0.25rem 0.5rem;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  width: 100%;
}

@media (max-width: 1000px) {
  .footer {
    margin-top: 1rem;
    width: 90vw;
    flex-direction: column;
    row-gap: 1rem;
  }

  .useful-links {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .useful-links > div {
    font-size: x-small;
    width: 40%;
    height: 200px;
  }

  .copyright {
    flex-direction: column;
    row-gap: 1rem;
  }
}